    <section id="featured">
      <!-- start slider -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

          </section>
          <section class="callaction">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="big-cta">
                    <div class="cta-text">
                      <img src=http://tonicnet.it/wp-content/uploads/2016/04/more-fit-1.png style="max-width: 100%; height: auto;">
                      <p>당신에게 맞는 당신에게 추천하는 MoreFit!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="box">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- divider -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="solidline">
                  </div>
                </div>
              </div>
              <!-- end divider -->

              <div class="container">

                <!--Pulling Awesome Font -->
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                <div class="col-sm-6">
                  <div id="tb-testimonial" class="testimonial testimonial-success">
                    <div class="testimonial-section">

                      <% if user_signed_in? %>
                      <p><%= current_user.name %>님 환영합니다.</p>
                      <p><strong>MoreFit</strong>에 오신것을 환영합니다!</p>
                      <p>다양한 패션 동영상 제공, 패션 커뮤니티를 제공합니다!</p><br>
                      <div class="testimonial-writer-name"><%= current_user.name %></div>
                      <div class="testimonial-writer-designation"><%= current_user.email %></div>
                      
                    </a href="#" class="testimonial-writer-company">멋쟁이패션</a>
                    <p><a href="/users/sign_out">로그아웃</a></p>
                    <% else %>
                    <p>로그인을 하지 않으시면, 저희 서비스를 이용하실 수 없습니다!</p>
                    <p><strong>MoreFit</strong>에 오신것을 환영합니다!</p>
                    <p>다양한 Fashion 동영상 제공, Fashion 커뮤니티를 제공합니다!</p>
                    <p> <a href="/users/sign_in">로그인</a></p>
                    <% end %>
                  </div>
                </div>

                <div class="testimonial-desc">
                 <%= image_tag "img/works/z1.jpg" %>  
                 <div class="testimonial-writer">
                 </div>
               </div>
             </div>   
           </div>
           <br>
           <br>
           <!-- Portfolio Projects -->
           <div class="row">
            <div class="col-lg-12">
              <h4 class="heading">BEST Fashion PHOTO</h4>
              <div class="row">
                <section id="projects">
                  <ul id="thumbs" class="portfolio">
                    <!-- Item Project and Filter Name -->
                    <li class="col-lg-3 design" data-id="id-0" data-type="web" height="160px">
                      <div class="item-thumbs">
                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                        <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Freestyle rap" href="img/works/1.jpg">-->
                          <span class="overlay-img"></span>
                          <!--<span class="overlay-img-thumb font-icon-plus"></span>-->
                        </a>
                        <!-- Thumb Image and Description -->
                        <img src="http://ext.fmkorea.com/files/attach/new/20150202/4477817/2386927/114998345/c407e1f011a090031f1939fbb1123bac.jpg"style="max-width: 100%; height:200px;" alt="Freestyle is a style of improvisation with or without instrumental beats, in which lyrics are recited with no particular subject or structure. It is similar to other improvisational music, such as jazz.">
                      </div>
                    </li>
                    <!-- End Item Project -->
                    <!-- Item Project and Filter Name -->
                    <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Swings (rapper)" href="img/works/2.jpg">-->
                        <span class="overlay-img"></span>
                        <!--<span class="overlay-img-thumb font-icon-plus"></span>-->
                      </a>
                      <!-- Thumb Image and Description -->
                      <img src="http://pds15.egloos.com/pds/200908/24/04/d0047204_4a920c78a990e.jpg" style="max-width: 100%; height: 200px;"alt="Moon Ji-hoon (Korean:문지훈, born October 14, 1986), better known by the stage name Swings (Korean:스윙스), is a South Korean rapper. Formerly under the label Brand New Music, he is currently contracted under his own record label, Just Music Entertainment.">
                    </li>
                    <!-- End Item Project -->
                    <!-- Item Project and Filter Name -->
                    <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dok2" href="img/works/dok.jpg">-->
                        <span class="overlay-img"></span>
                        <!--<span class="overlay-img-thumb font-icon-plus"></span>-->
                      </a>
                      <!-- Thumb Image and Description -->
                      <img src="http://cfile24.uf.tistory.com/image/246CF749551D05652FE34E" style="max-width: 100%; height: 200px" alt="Lee Joon-Kyung (hangul: 이준경; born March 28, 1990) better known by his stage name Dok2 (hangul: 도끼, pronounced as Dokki), is a South Korean rapper, record producer and co-founder of the Illionaire Records.">
                    </li>
                    <!-- End Item Project -->
                    <!-- Item Project and Filter Name -->
                    <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Zico (rapper)" href="img/works/4.jpg">-->
                        <span class="overlay-img"></span>
                        <!--<span class="overlay-img-thumb font-icon-plus"></span>-->
                      </a>
                      <!-- Thumb Image and Description -->
                      <img src="http://mblogthumb2.phinf.naver.net/20160510_221/goquarium2_1462886333803oYQuU_JPEG/1.jpg?type=w800"style="max-width: 100%; height:200px" alt="Woo Ji-ho (Hangul: 우지호; born September 14, 1992), widely known by his stage name, Zico (hangul: 지코), is a South Korean rapper, record producer, singer-songwriter and leader of the boy group Block B, signed under the label KQ Entertainment.">
                    </li>
                    <!-- End Item Project -->
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>